@import '../../styles/customStyles.scss';

.google {
  &_background {
    display: flex;
    flex-direction: column;
    max-width: 470px;
    max-height: 609px;
    margin: 2vh auto;
    min-width: 400px;
  }

  &_header {
    display: flex;
    gap: 10px;
    @include textForGooglePar;
    color: #737B8C;
    border: 1px solid #BEC0C7;
    border-radius: 12px 12px 0 0;
    padding: 15px;
  }

  &_icon {
    background-image: url(../../images/google_icon.svg);
    height: 20px;
    width: 20px;
  }

  &_inform {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;

    &-lang {
      @include textForGoogleLinksUnder;
      position: relative;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        right: -15px;
        bottom: 15px;
        background-position: bottom;
        background-image: url(../../images/selectButton.svg);
        width: 10px;
        height: 6px;
      }
    }

    &-buttons{
      display: flex;
      gap: 50px;
      @include textForGoogleLinksUnder;
    }

    &-button{
      cursor: pointer;
      @include textForGoogleLinksUnder;
    }
  }
}