@import '../../styles/customStyles.scss';

.loading {
  &_background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $standardWhite;
    padding: 100px;
  }

  &_text {
    @include textForPlaceholder;
    color: #24272D;
  }
}
