$colorForTitle: #20496C;
$colotForText: #9196A1;
$colorForTitleParagraph: #5E636E;
$standardWhite: #fff;
$colorSliderText: #96CAF7;
$colorNavigation: #5D7FA3;
$colorActiveNav: #32ABF2;
$colorForLabels: #4F637D;
$colorForPlaceholder: #C3CAD5;
$colorForError: #D24646;
$colorForDisconnectError: #65BD47;
$colorForGoogleButton: #5383EC;
$colorForGoogle: #24272D;
