@import '../../styles/customStyles.scss';

.field {
  &_label {
    @include textForLabel;
  }

  &_input {
    position: relative;
  
    &::placeholder {
      @include textForPlaceholder;
    }

    &:active, &:focus {
      border: 1px solid $colorActiveNav;
    }

    &:focus::-webkit-input-placeholder, 
    &:focus::-moz-placeholder,
    &:focus:-moz-placeholder,
    &:focus:-ms-input-placeholder {
      color: transparent;
    }
  }

  &_icon {
    position: absolute;
    top: 13px;
    right: 16px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../../images/close_eye.svg) 0 0 no-repeat;
    
    &.open {
    background: url(../../images/open_eye.svg) 0 0 no-repeat;
  }
  }
}